body{
    background: url(../assets/background_home.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title-hello-area{
    position: relative;
    width: 100%;
    height: 200vh;
}
/* 大屏模式 */
@media (min-width:870px) {
    .hello-background{
        background-image: url(../assets/index_hello.jpg);
        background-size: cover;
        background-position: 50% 50%;
        height: 100vh;
        text-align: center;
        font-weight: 900;
        font-size: 32vh;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 10vh;
    }
    .title-text{
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
        padding: 5vh;
        text-align: center;
        font-size: 3vh;
        color: #fff;
        letter-spacing: 0.6vh;
        border-radius: 3vh;
        background-color: rgba(0, 0, 0, 0.4);
        transition: box-shadow .6s ease;
    }
    #shotInfo{
        opacity: 0;
        position: fixed;
        top: 8.5vh;
        right: 1vh;
        font-size: 1.5vh;
        color: #fff;
        text-shadow: 0 0 0.2vh #9c9c9c;
        transition: opacity .6s ease;
    }
    .index-content{
        position: absolute;
        top: 113vh;
        left: 0;
        width: 100%;
        height: 84vh;
    }
    .index-title-box{
        height: 10vh;
        width: 100%;
    }
    .index-title{
        float: right;
        width: fit-content;
        height: 10vh;
        margin-right: 2vh;
        overflow: hidden;
    }
    #indexText{
        float: right;
        transform: translate(100%);
        line-height: 10vh;
        font-size: 8vh;
        font-weight: 600;
        color: white;
        text-shadow: 0.2vh 0.2vh 0.5vh #aeaeae;
    }
    .index-broadcast{
        float: left;
        width: 31%;
        height: 46%;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        margin-left: 1.75%;
        margin-top: 1%;
        transition: box-shadow .6s ease;
        overflow: hidden;
    }
    .index-broadcast:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-message{
        float: left;
        width: 31%;
        height: 46%;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        margin-left: 1.75%;
        margin-top: 1.35%;
        transition: box-shadow .6s ease;
    }
    .index-message:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-articles{
        float: right;
        width: 31%;
        height: 95%;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        margin-right: 1.75%;
        margin-top: 1%;
        transition: box-shadow .6s ease;
    }
    .index-articles:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-tools{
        float: right;
        width: 31%;
        height: 95%;
        border-radius: 3vh;
        margin-right: 1.75%;
        margin-top: 1%;
        transition: box-shadow .6s ease;
    }
    .index-field-title{
        width: 70%;
        line-height: 4vh;
        margin-top: 3%;
        margin-left: 3.5%;
        padding-left: 1vh;
        border-left: 1vh solid #6e8b74;
        border-bottom-left-radius: 1vh;
        border-top-left-radius: 1vh;
        font-size: 3.2vh;
        font-weight: 550;
        color: #1b6d58;
        user-select: none;
    }
    .field-content1{
        width: 89%;
        height: calc(92% - 4vh);
        margin: auto;
        margin-top: 3%;
        overflow: auto;
    }
    .field-content2{
        width: 89%;
        height: calc(88% - 4vh);
        margin: auto;
        margin-top: 2%;
        overflow: auto;
    }
    .field-content2::-webkit-scrollbar {
        display: none;
        width: 5px; /* 设置滚动条宽度 */
    }
    .index-message:hover .field-content2::-webkit-scrollbar{
        display: block;
    }
    .field-content2::-webkit-scrollbar-track {
        background-color: #00000000; /* 设置滚动条背景色 */
    }
    .field-content2::-webkit-scrollbar-thumb {
        background-color: #8c8c8c9e; /* 设置滚动条滑块颜色 */
        border-radius: 7px; /* 设置滚动条滑块圆角 */
    }
    .field-content2::-webkit-scrollbar-thumb:hover {
        background-color: #6565659e; /* 设置滚动条滑块悬停颜色 */
    }
    .field-content1::-webkit-scrollbar {
        display: none;
        width: 5px;
    }
    .index-articles:hover .field-content1::-webkit-scrollbar{
        display: block;
    }
    .index-tools:hover .field-content1::-webkit-scrollbar{
        display: block;
    }
    .field-content1::-webkit-scrollbar-track {
        background-color: #00000000;
    }
    .field-content1::-webkit-scrollbar-thumb {
        background-color: #8c8c8c9e;
        border-radius: 7px;
    }
    .field-content1::-webkit-scrollbar-thumb:hover {
        background-color: #6565659e;
    }
}
/* 小屏模式 */
@media (max-width:869.99px) {
    .hello-background{
        background-image: url(../assets/index_hello.jpg);
        background-size: cover;
        background-position: 50% 50%;
        height: 100vh;
        text-align: center;
        font-weight: 900;
        font-size: 16vh;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 15vh;
    }
    .title-text{
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
        padding: 2vh;
        text-align: center;
        font-size: 3vh;
        color: #fff;
        letter-spacing: 0.6vh;
        border-radius: 3vh;
        background-color: rgba(0, 0, 0, 0.4);
        transition: box-shadow .6s ease;
    }
    #shotInfo{
        opacity: 0;
        position: absolute;
        top: 1vh;
        right: 0.6vh;
        font-size: 1.5vh;
        color: #fff;
        text-shadow: 0 0 0.2vh #9c9c9c;
        transition: opacity .6s ease;
    }
    .index-content{
        position: absolute;
        top: 118vh;
        left: 0;
        width: 100%;
        padding-bottom: 2vh;
    }
    .index-title-box{
        height: 8vh;
        width: 100%;
    }
    .index-title{
        float: right;
        width: fit-content;
        height: 8vh;
        margin-right: 1vh;
        overflow: hidden;
    }
    #indexText{
        float: right;
        transform: translate(100%);
        line-height: 8vh;
        font-size: 5vh;
        font-weight: 550;
        color: white;
        text-shadow: 0.2vh 0.2vh 0.5vh #aeaeae;
    }
    .index-broadcast{
        width: 90%;
        height: 35vh;
        margin: auto;
        margin-top: 2vh;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        transition: box-shadow .6s ease;
        overflow: hidden;
    }
    .index-broadcast:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-message{
        width: 90%;
        height: 35vh;
        margin: auto;
        margin-top: 2vh;
        padding-top: 1.5vh;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        transition: box-shadow .6s ease;
    }
    .index-message:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-articles{
        width: 90%;
        height: 60vh;
        margin: auto;
        margin-top: 2vh;
        padding-top: 1.5vh;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 3vh;
        transition: box-shadow .6s ease;
    }
    .index-articles:hover{ box-shadow: 0 0 1vh #a6a6a6; }
    .index-tools{
        width: 90%;
        height: 50vh;
        margin: auto;
        margin-top: 2vh;
        padding-top: 1.5vh;
        border-radius: 3vh;
        transition: box-shadow .6s ease;
    }
    .index-field-title{
        width: 70%;
        line-height: 4vh;
        margin-left: 1.6vh;
        padding-left: 1vh;
        border-left: 1vh solid #6e8b74;
        border-bottom-left-radius: 1vh;
        border-top-left-radius: 1vh;
        font-size: 3.2vh;
        font-weight: 550;
        color: #1b6d58;
        user-select: none;
    }
    .field-content1{
        width: 89%;
        height: calc(92% - 4vh);
        margin: auto;
        margin-top: 3%;
        overflow: auto;
    }
    .field-content2{
        width: 89%;
        height: calc(88% - 4vh);
        margin: auto;
        margin-top: 2%;
        overflow: auto;
    }
    .field-content2::-webkit-scrollbar {
        display: none;
        width: 5px; /* 设置滚动条宽度 */
    }
    .index-message:hover .field-content2::-webkit-scrollbar{
        display: block;
    }
    .field-content2::-webkit-scrollbar-track {
        background-color: #00000000; /* 设置滚动条背景色 */
    }
    .field-content2::-webkit-scrollbar-thumb {
        background-color: #8c8c8c9e; /* 设置滚动条滑块颜色 */
        border-radius: 7px; /* 设置滚动条滑块圆角 */
    }
    .field-content2::-webkit-scrollbar-thumb:hover {
        background-color: #6565659e; /* 设置滚动条滑块悬停颜色 */
    }
    .field-content1::-webkit-scrollbar {
        display: none;
        width: 5px;
    }
    .index-articles:hover .field-content1::-webkit-scrollbar{
        display: block;
    }
    .index-tools:hover .field-content1::-webkit-scrollbar{
        display: block;
    }
    .field-content1::-webkit-scrollbar-track {
        background-color: #00000000;
    }
    .field-content1::-webkit-scrollbar-thumb {
        background-color: #8c8c8c9e;
        border-radius: 7px;
    }
    .field-content1::-webkit-scrollbar-thumb:hover {
        background-color: #6565659e;
    }
}
.hello-background::before{
    content: "";
    background-image: inherit;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.scrolldown{
    position: absolute;
    top: 3vh;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    font-weight: 550;
    letter-spacing: 0.2vh;
    color: #fff;
    z-index: 0;
    text-shadow: 0 0 0.1vh #a7a7a7;
    animation: scrollAnimation 2.5s infinite;
}
@keyframes scrollAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
.sub-title-text{
    font-size: 2vh;
    font-weight: 500;
}
.title-line{
    width: 100%;
    height: 4vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 1vh #8c8c8c;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
#changeBack{
    position: absolute;
    bottom: -2.5vh;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    font-size: 1.8vh;
    letter-spacing: 0;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity .6s ease;
}
#changeBack:hover{
    color: aquamarine;
}
.title-text:hover{
    box-shadow: 0 0 1.2vh #fff;
}
.title-text:hover #changeBack{
    opacity: 1;
}
.index-container{
   width: 100%;
   height: 100%;
}
#my-slider { /* jQ轮播图插件 */
    width: 100%;
    height: 100%;
}
#my-slider .crs-bar-roll-current {
    width: 38px;
    height: 38px;
}
#my-slider .crs-bar-roll-item {
    width: 30px;
    height: 30px;
}
.tools-list-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tools-app{
    width: 9vh;
    margin: 1vh;
}
.tools-app-icon{
    display: block;
    width: 9vh;
    height: 9vh;
    border-radius: 1.5vh;
    background-size: auto;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0.4vh #848484;
}
.tools-app-icon:hover{
    box-shadow: 0 0 1vh #848484;
}
.tools-app-title{
    width: 9vh;
    line-height: 2vh;
    text-align: center;
    font-size: 1.5vh;
    color: #383838;
    margin-top: 0.5vh;
    word-wrap: break-word;
    user-select: none;
}
.app-icon-img{
    width: 100%;
    height: 100%;
}
.rcmd-article{
    width: 92%;
    height: fit-content;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1.5vh;
    border-radius: 1.2vh;
    box-shadow: 0.1vh 0.1vh 0.4vh #ddd;
    background: linear-gradient(-60deg, #f2f2f2 20%, white 0);
    overflow: hidden;
}
.rcmd-article:hover{
    border-left: 0.4vh solid rgb(42, 139, 42);
    border-right: 0.4vh solid rgb(42, 139, 42);
}
.article-title{
    display: block;
    text-decoration: none;
    width: fit-content;
    line-height: 3vh;
    font-size: 2.1vh;
    font-weight: 600;
    color: rgb(0, 52, 0);
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 0.3vh;
}
.article-title:hover{
    color: rgb(64, 177, 64);
}
.article-info{
    line-height: 2vh;
    font-size: 1.6vh;
    color: rgb(91, 91, 91);
    margin-left: 1vh;
    margin-right: 1vh;
}
#messageNull{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.2vh;
    font-weight: 550;
    color: #0f5140;
    letter-spacing: 0.3vh;
}