body{
    margin: 0;
}
abbr{
    text-decoration: none;
}
@font-face{
    font-family: 'webfont';
    font-display: swap;
    src: url('../assets/fonts/webfont.eot'); /* IE9 */
    src: url('../assets/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/webfont.woff2') format('woff2'),
    url('../assets/fonts/webfont.woff') format('woff'), /* chrome、firefox */
    url('../assets/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../assets/fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font{
    font-family: "webfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#navSearch:focus{
    outline-color: rgb(70, 193, 85); /* 设置输入框响应边缘颜色 */
}
#alertBox{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5vh;
    width: fit-content;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    text-align: center;
    font-size: 2vh;
    font-weight: 550;
    color: #2c9678;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2vh;
    box-shadow: 0 0 1vh #c1c1c1;
}
/* 鼠标点击特效 */
.mouse-shape{
    position: fixed;
    z-index: 6;
    width: 30px;
    height: 30px;
    animation: enlarge 0.5s ease;
}
@keyframes enlarge{
    from{ transform: scale(0); }
    to{ transform: scale(1); }
}
.m-square1{
    border: 0.2vh solid #88c035;
}
.m-circle1{
    border: 0.2vh solid #157135;
    border-radius: 50%;
    box-sizing: border-box;
}
.m-square2{
    border: 0.2vh solid #39cf43;
}
.m-circle2{
    border: 0.2vh solid #a8eec1;
    border-radius: 50%;
    box-sizing: border-box;
}
/* 大屏模式 */
@media (min-width:870px) {
    body{
        background: url(../assets/background_normal.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        margin-bottom: 1vh;
        width: 100%;
        height: fit-content;
        background-color: white;
        box-shadow: 0 0.2vh 0.5vh #ddd;
    }
    .web-content{
        width: 100%;
        height: fit-content;
        margin-top: 7.5vh;
    }
    #menu{
        display: none;
    }
    .navigation-list{
        list-style: none;
        margin: 0;
    }
    .list-bar{
        position: relative;
        float: right;
        width: 9%;
        margin-right: 2%;
        line-height: 7.5vh;
        text-align: center;
        font-size: 2.1vh;
        white-space: nowrap;
    }
    .list-bar-a{
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    .list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
    }
    .list-bar-a:hover{
        color: green;
    }
    .navigation-logo{
        float: left;
        width: 25vh;
        height: 5vh;
        margin-top: 1.2vh;
        margin-left: 2vh;
        background: url(../assets/logo.png) no-repeat;
        background-size: 100%;
    }
    .navigation-search{
        float: left;
        width: 17vh;
        height: fit-content;
        margin-top: 2.2vh;
        margin-left: 4vh;
    }
    #navSearch{
        width: 90%;
        padding-left: 1vh;
        height: 2.7vh;
        font-size: 1.6vh;
        border: 1px solid rgb(0, 85, 0);
        border-radius: 2vh;
    }
    .navigation-icon{
        display: none;
    }
    .work-list{
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
        box-shadow: 0 0.2vh 0.5vh #ddd;
        overflow: hidden;
    }
    .work-list-bar{
        display: block;
        text-decoration: none;
        line-height: 4.5vh;
        font-size: 2vh;
        color: rgb(90, 90, 90);
    }
    .work-list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: green;
    }
    #navWork:hover .work-list{
        display: block;
    }
    .life-list{
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
        box-shadow: 0 0.2vh 0.5vh #ddd;
        overflow: hidden;
    }
    .life-list-bar{
        display: block;
        text-decoration: none;
        line-height: 4.5vh;
        font-size: 2vh;
        color: rgb(90, 90, 90);
    }
    .life-list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: green;
    }
    #navLife:hover .life-list{
        display: block;
    }
    #options{
        position: fixed;
        bottom: 2vh;
        left: 3vh;
        width: 5vh;
        line-height: 5vh;
        text-align: center;
        font-size: 2.5vh;
        font-weight: 600;
        color: rgb(82, 82, 82);
        cursor: pointer;
        background-color: white;
        box-shadow: 0 0 0.5vh #ddd;
        border-radius: 2vh;
        z-index: 5;
    }
    #options:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: #43b244;
    }
    #optionsList{
        position: fixed;
        bottom: 8vh;
        left: 3vh;
        height: 0;
        width: 5vh;
        transition: height .6s ease;
    }
    #optionsListBar1{
        line-height: 4vh;
        text-align: center;
        font-size: 2.2vh;
        color: rgb(103, 103, 103);
        cursor: pointer;
        opacity: 0;
        transition: opacity .7s ease;
        background-color: white;
        box-shadow: 0 0 0.5vh #ddd;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
    }
    #optionsListBar2{
        line-height: 4vh;
        text-align: center;
        font-size: 2.2vh;
        color: rgb(103, 103, 103);
        cursor: pointer;
        opacity: 0;
        transition: opacity .7s ease;
        background-color: white;
        box-shadow: 0 0 0.5vh #ddd;
        border-radius: 2vh;
        user-select: none;
    }
    .optionmask{
        position: fixed;
        bottom: 0;
        left: 3vh;
        width: 5vh;
        height: 8vh;
        z-index: 4;
        user-select: none;
    }
    #optionsListBar1:hover{color: green;}
    #optionsListBar2:hover{color: green;}
}
/* 小屏模式 */
@media (max-width:869.99px) {
    body{
        background: url(../assets/background_mobile.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        margin-right: 1vh;
        width: 6vh;
        height: 100%;
        background-color: white;
        box-shadow: 0.2vh 0 0.5vh #ddd;
        transition: width .6s ease;
    }
    .web-content{
        width: calc(100% - 6vh);
        height: fit-content;
        margin-left: 6vh;
    }
    .navigation-list{
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #menu{
        width: 100%;
        line-height: 5vh;
        font-size: 2.5vh;
        font-weight: 600;
        color: rgb(82, 82, 82);
        text-align: center;
        cursor: pointer;
    }
    #menu:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: green;
    }
    .list-bar{
        float: top;
        width: 100%;
        margin-top: 4%;
        line-height: 5vh;
        text-align: center;
        font-size: 2.4vh;
    }
    .list-bar-a{
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    .list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
    }
    .list-bar-a:hover{
        color: green;
    }
    .navigation-logo{
        display: none;
        float: top;
        width: 80%;
        height: 5vh;
        margin: auto;
        margin-top: 1.5vh;
        background: url(../assets/logo.png) no-repeat;
        background-size: 100%;
    }
    .navigation-search{
        display: none;
        float: top;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        height: fit-content;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    #navSearch{
        width: 92%;
        padding-left: 1vh;
        font-size: 1.6vh;
        height: 3.3vh;
        border: 1px solid rgb(0, 85, 0);
        border-radius: 2vh;
    }
    .navigation-icon{
        width: 4vh;
        height: 4vh;
        margin-top: 1vh;
        margin-left: 1vh;
        background: url(../assets/icon.png) no-repeat;
        background-size: 100%;
    }
    .work-list{
        width: 100%;
        height: fit-content;
    }
    .work-list-bar{
        display: block;
        text-decoration: none;
        line-height: 4.5vh;
        font-size: 2vh;
        color: rgb(90, 90, 90);
    }
    .work-list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: green;
    }
    .life-list{
        width: 100%;
        height: fit-content;
    }
    .life-list-bar{
        display: block;
        text-decoration: none;
        line-height: 4.5vh;
        font-size: 2vh;
        color: rgb(90, 90, 90);
    }
    .life-list-bar:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: green;
    }
    #options{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 5vh;
        text-align: center;
        font-size: 2.4vh;
        font-weight: 600;
        color: rgb(82, 82, 82);
        cursor: pointer;
        z-index: 5;
    }
    #options:hover{
        box-shadow: inset 0 0 0.4vh #ddd;
        color: #43b244;
    }
    #optionsList{
        position: absolute;
        bottom: 5vh;
        left: 0;
        height: 0;
        width: 100%;
        transition: height .6s ease;
    }
    #optionsListBar1{
        line-height: 5vh;
        text-align: center;
        font-size: 2.2vh;
        color: rgb(103, 103, 103);
        cursor: pointer;
        opacity: 0;
        transition: opacity .7s ease;
    }
    #optionsListBar2{
        line-height: 5vh;
        text-align: center;
        font-size: 2.2vh;
        color: rgb(103, 103, 103);
        cursor: pointer;
        opacity: 0;
        transition: opacity .7s ease;
    }
    .optionmask{display: none;}
    #optionsListBar1:hover{color: green;}
    #optionsListBar2:hover{color: green;}
}
